{% extends 'pedido/elementos/elemento_tabla.html'%}

{% block table_head %}
    <tr>
        <th class="d-none">id</th>
        <th>Fecha</th>
        <th>Ítem</th>
        <th>Cantidad</th>
        <th>Cancelar</th>
    </tr>
{% endblock %}

{% block table_body %}
    {% for articulo in Lista_articulos_pedidos %}
        <tr>
            <td class="d-none">{{ articulo.id }}</td>
            <td>{{ articulo.fecha }}</td>
            <td>{{ articulo.item }}</td>
            <td>
                <input 
                    type="number" 
                    class="form-control form-control-sm quantity-input w-auto d-inline-block" 
                    data-articulo-id="{{ articulo.id }}"
                    value="{{ articulo.cantidad }}" 
                    step="0.01">
            </td>
            <td>
                <button class="btn btn-outline-danger btn-sm js-cancelar"
                        type="button"
                        data-articulo-id="{{ articulo.id }}"
                        data-proveedor-id="{{ articulo.proveedor.id }}"
                        data-item-id="{{ articulo.item.id }}">
                    Cancelar
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}