{% extends 'core_testing/base_testing.html' %}

{% block extra_sidebar %}
<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Menú de Testing</h5>
    </div>
    <div class="list-group list-group-flush">
        <a href="{% url 'core_testing:test_interfaces' %}" 
           class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'test_interfaces' %}active{% endif %}">
            <i class="fas fa-list me-2"></i> Todas las interfaces
        </a>
        {% for interface in interfaces %}
        <a href="{% url 'core_testing:test_interface' interface.module %}" 
           class="list-group-item list-group-item-action {% if request.resolver_match.kwargs.interface_name == interface.module %}active{% endif %}">
            <i class="fas fa-plug me-2"></i> {{ interface.name }}
        </a>
        {% endfor %}
        
        <div class="list-group-item">
            <a href="{% url 'core_testing:coverage_report' %}" class="text-decoration-none">
                <i class="fas fa-chart-pie me-2"></i> Informe de Cobertura
            </a>
        </div>
        
        <div class="list-group-item">
            <a href="{% url 'core_testing:testrun_list' %}" class="text-decoration-none">
                <i class="fas fa-history me-2"></i> Historial de Ejecuciones
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        {% block testing_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
