venv/
.venv/
__pycache__/
**/__pycache__/
*.pyc
.git/
.gitignore
*.sqlite3
*.sqlite3-journal
db.sqlite3
logs/
media/
node_modules/
*.swp
.env.production
docs/
auxiliares_apps/
core_apps/
negocio_apps/
Scraping/
rust_mozprofile2tDZsO/
*.csv
*.xls
*.ods
*.xlsx
