/media/pendorchito.csv
mp_access_token.txt
token.json
*.pyc
*.xls
*.ods
*.csv
*.log
__pycache__/
Scraping/
rust_mozprofile2tDZsO/
/venv/
mp.json
service_credentials.json
script.spec
Sin.fis
.vscode/
*.sqlite3
SECRET_KEY.txt
migrations/
db.sqlite3
settings.py
core_config/settings.py
core_config/settings_tests.py
3D.csv
Amaya.csv
Bauen.csv
bdd.csv
Caramia.csv
Cedica.csv
City Bell.csv
Crimaral.csv
CyM.csv
Danirox.csv
Econo.csv
errores.csv
FerriPlast.csv
Fischer.csv
Herrametal.csv
items.csv
Mafersa.csv
Maglia.csv
Netcolor.csv
Parsecs.csv
Pereira.csv
Sibon.csv
Sumar.csv
Suprabond.csv
Violini.csv
YAYI.csv
3D.csv
Hersol.csv

actualizador/log.txt
core_config/log.txt
main_gpread.py
log.txt
*.txt
media/pedidos/.~lock.articulos_vendidos.xlsx#
media/pedidos/3D.xlsx
media/pedidos/Amaya.xlsx
media/pedidos/articulos_vendidos.xlsx
media/pedidos/Bauen.xlsx
media/pedidos/Cedica.xlsx
media/pedidos/City Bell.xlsx
media/pedidos/Crimaral.xlsx
media/pedidos/CyM.xlsx
media/pedidos/Danirox.xlsx
media/pedidos/Econo.xlsx
media/pedidos/FerriPlast.xlsx
media/pedidos/Fischer.xlsx
media/pedidos/Herrametal.xlsx
media/pedidos/Hersol.xlsx
media/pedidos/Maglia.xlsx
media/pedidos/Netcolor.xlsx
media/pedidos/pedidos.xlsx
media/pedidos/Pereira.xlsx
media/pedidos/Sibon.xlsx
media/pedidos/Sumar.xlsx
media/pedidos/Suprabond.xlsx
media/pedidos/Violini.xlsx
media/pedidos/YAYI.xlsx
Violini.csv
Cedica.csv
Herrametal.csv
FerriPlast.csv
Crimaral.csv
