/media/pendorchito.csv
mp_access_token.txt
token.json
*.pyc
__pycache__/
Scraping/
rust_mozprofile2tDZsO/
/venv/
mp.json
service_credentials.json
script.spec
Sin.fis
.vscode/
*.sqlite3
SECRET_KEY.txt
migrations/
db.sqlite3
settings.py
core_config/settings.py
core_config/settings_tests.py
3D.csv
Amaya.csv
Bauen.csv
bdd.csv
Caramia.csv
Cedica.csv
City Bell.csv
Crimaral.csv
CyM.csv
Danirox.csv
Econo.csv
errores.csv
FerriPlast.csv
Fischer.csv
Herrametal.csv
items.csv
Mafersa.csv
Maglia.csv
Netcolor.csv
Parsecs.csv
Pereira.csv
Sibon.csv
Sumar.csv
Suprabond.csv
Violini.csv
YAYI.csv
3D.csv
Hersol.csv

actualizador/log.txt
core_config/log.txt
