{% extends 'pedido/elementos/elemento_tabla.html'%}

{% block table_head %}
    <tr>
        <th>id</th>
        <th>Proveedor</th>
        <th>Ítem</th>
        <th>Cantidad</th>
        <th>¿Ya se devolvió?</th>
    </tr>
{% endblock %}

{% block table_body %}
{% for articulo in devoluciones %}
    <tr>
        <td>{{ articulo.id }}</td>
        <td>{{ articulo.proveedor }}</td>
        <td>{{ articulo.item }}</td>
        <td>
            <input 
                type="number" 
                class="form-control form-control-sm quantity-input w-auto d-inline-block" 
                data-id="devolver-{{ articulo.id }}" 
                value="{{ articulo.cantidad }}" 
                step="0.01">
        </td>
        <td>
            <div class="form-check m-0">
                <input 
                    type="checkbox" 
                    class="form-check-input js-eliminar-devolucion"
                    data-devolucion-id="{{ articulo.id }}"
                    id="eliminar-devolucion-{{ articulo.id }}"
                >
                <label class="form-check-label" for="eliminar-devolucion-{{ articulo.id }}">
                    Ya se devolvió
                </label>
            </div>
        </td>
    </tr>
{% endfor %}
{% endblock %}