{% extends 'pedido/elementos/elemento_tabla.html'%}
{% block table_head %}
    <tr>
        <th>id</th>
        <th>Proveedor</th>
        <th>Ítem</th>
        <th>Cantidad</th>
        <th>Ya se devolvio?</th>
    </tr>
{% endblock %}

{% block table_body %}
{% for articulo in devoluciones %}
    <tr>
        <td>{{ articulo.id }}</td>
        <td>{{ articulo.proveedor }}</td>
        <td>{{ articulo.item }}</td>
        <td>
            <input 
                type="number" 
                class="quantity-input" 
                data-id="devolver-{{ articulo.id }}" 
                value="{{ articulo.cantidad }}" 
                step="0.01">
        </td>
        <td>
            <input 
                type="checkbox" 
                id="devolver-devolver{{ articulo.id }}" 
                onclick="eliminarDevolucion({{ articulo.id}},{{articulo.proveedor.id}},{{ articulo.item.id }})"
            >
        </td>
    </tr>
{% endfor %}
{% endblock %}