<!DOCTYPE html>
<html>
<head>
    <title>Prueba AJAX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    
    {% if hay_descripciones %}
        {% for articulo in articulos %}
            <h1> {{ articulo.descripcion }} </h1>
        {% endfor %}
    {% else %}
        <h1> {{ descripcion }} </h1>
    {% endif %}

    <div style="display: flex; width: 100vw; height: 100vh;">
        <form id="myForm" method="post" style="flex: 1; margin-right: 22cm;">{% csrf_token %}
            <div style="display: flex; flex-direction: column; height: 29.7cm;">
                <div style="flex: 1;">
                    <label for="descripcion">Descripción:</label>
                    <div style="display: flex; justify-content: space-between; height: 80%;">
                        <textarea type="text" id="descripcion" name="descripcion" style="flex: 80%; height: 100%;">{{cartel.descripcion}}</textarea>
                        <input type="number" id="tamano_descripcion" name="tamano_descripcion" value="{{cartel.tamano_descripcion}}" style="flex: 20%;">
                    </div>
                </div>
                <div style="flex: 1;">
                    <label for="texto_final">Precio de lista:</label>
                    <div style="display: flex; justify-content: space-between; height: 80%;">
                        <textarea type="text" id="texto_final" name="texto_final" style="flex: 80%; height: 100%;">{{cartel.texto_final}}</textarea>
                        <input type="number" id="tamano_texto_final" name="tamano_texto_final" value="{{cartel.tamano_texto_final}}" style="flex: 20%;">
                    </div>
                </div>
                <div style="flex: 1;">
                    <label for="final">Final:</label>
                    <div style="display: flex; justify-content: space-between; height: 80%;">
                        <textarea type="text" id="final" name="final" style="flex: 80%; height: 100%;">{{cartel.final}}</textarea>
                        <input type="number" id="tamano_final" name="tamano_final" value="{{cartel.tamano_final}}" style="flex: 20%;">
                    </div>
                </div>
                <div style="flex: 1;">
                    <label for="texto_final_efectivo">Texto Contado Efectivo:</label>
                    <div style="display: flex; justify-content: space-between; height: 80%;">
                        <textarea type="text" id="texto_final_efectivo" name="texto_final_efectivo" style="flex: 80%; height: 100%;">{{cartel.texto_final_efectivo}}</textarea>
                        <input type="number" id="tamano_texto_final_efectivo" name="tamano_texto_final_efectivo" value="{{cartel.tamano_texto_final_efectivo}}" style="flex: 20%;">
                    </div>
                </div>
                <div style="flex: 1;">
                    <label for="final_efectivo">$ Contado Efectivo:</label>
                    <div style="display: flex; justify-content: space-between; height: 80%;">
                        <textarea type="text" id="final_efectivo" name="final_efectivo" style="flex: 80%; height: 100%;">{{cartel.final_efectivo}}</textarea>
                        <input type="number" id="tamano_final_efectivo" name="tamano_final_efectivo" value="{{cartel.tamano_final_efectivo}}" style="flex: 20%;">
                    </div>
                </div>
                <input type="checkbox" name="revisar" id="revisar" value="true">
                <button type="submit">Guardar</button>
                <button onclick="imprimir()">Imprimir</button>
            </div>
        </form>
        <div id="cartel" style="position: absolute; right: 0; width: 20.95cm; height: 29.6cm; background-color: #f5f5f5; margin: auto; border: 1px solid #000000; text-align: center; z-index: 1;">
            <span id="span_descripcion" style="font-size: 150px; font-weight: bold; text-decoration: underline; font-family: 'Anton', sans-serif;"></span>
            <span id="span_texto_final" style="font-size: 150px; font-family: 'Anton', sans-serif;"></span>
            <span id="span_final" style="font-size: 150px; font-family: 'Anton', sans-serif;"></span>
            <span id="span_texto_final_efectivo" style="font-size: 150px; font-family: 'Anton', sans-serif;"></span>
            <span id="span_final_efectivo" style="font-size: 150px; font-family: 'Anton', sans-serif;"></span>
        </div>
    <div>

    <script>
        function imprimir() {
            var contenido = document.getElementById('cartel').outerHTML;
            var ventana = window.open('', '_blank');
            ventana.document.write('<html><head><title>Imprimir</title>');
            ventana.document.write('<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&display=swap">');  // Fuente Anton
            ventana.document.write('<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">');  // Bootstrap
            ventana.document.write('<style>body { margin: 0; padding: 0; }</style></head><body>');
            ventana.document.write(contenido);
            ventana.document.write('</body></html>');
            ventana.document.close();
            ventana.print();
        }
        
        
        // Función para aplicar el filtro 'custom_price'
        function custom_price(price) {
            if (price > 1000) {
                price = Math.round(price / 500) * 500;
            } else {
                price = Math.round(price / 50) * 50;
            }
        
            if (price != 0 & price % 1000 == 0) {
                price -= 100;
            }
        
            return price;
        }
        
        // Función para obtener el ID de la URL
        function obtenerIdDeUrl() {
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            return id;
        }

        function actualizarTextoArticulo(span) {
            var elemento = document.getElementById(span);
            if (elemento) {
                var texto = elemento.innerText;
                console.log('Texto inicial:', texto);
                if (!texto) {
                    console.log('El texto del elemento con el ID ' + span + ' es nulo o vacío');
                    return; // Si el texto es nulo o vacío, termina la función aquí
                }
                var id = obtenerIdDeUrl();
                console.log('ID del span:', span);
                console.log('Elemento:', elemento);
                
                // Usa una URL diferente dependiendo de si la URL actual contiene 'imprimir_cajon'
                var url = window.location.href.includes('imprimir_cajon') ? '/precios_articulos_cajon/' + id : '/precios_articulos/' + id;
                
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function(response) {
                        if (Array.isArray(response)) {
                            // Si la respuesta es una lista de objetos, itera sobre ellos
                            for (var i = 0; i < response.length; i++) {
                                var finalFiltrado = custom_price(response[i].final);
                                var final_efectivoFiltrado = custom_price(response[i].final_efectivo);
                                var final_rolloFiltrado = custom_price(response[i].final_rollo);
                                var final_rollo_efectivoFiltrado = custom_price(response[i].final_rollo_efectivo);
                                if (texto) {
                                    var textoActualizado = texto.replace('[[ dato_' + (i+1) + '.final ]]', finalFiltrado)
                                        .replace('[[ dato_' + (i+1) + '.final_efectivo ]]', final_efectivoFiltrado)
                                        .replace('[[ dato_' + (i+1) + '.final_rollo ]]', final_rolloFiltrado)
                                        .replace('[[ dato_' + (i+1) + '.final_rollo_efectivo ]]', final_rollo_efectivoFiltrado);
                                    texto = textoActualizado; // Actualiza el texto para la próxima iteración
                                }
                            }
                        } else {
                            // Si la respuesta es un solo objeto, no necesitas iterar
                            var finalFiltrado = custom_price(response.final);
                            var final_efectivoFiltrado = custom_price(response.final_efectivo);
                            var final_rolloFiltrado = custom_price(response.final_rollo);
                            var final_rollo_efectivoFiltrado = custom_price(response.final_rollo_efectivo);
                            if (texto) {
                                var textoActualizado = texto.replace('[[ dato.final ]]', finalFiltrado)
                                    .replace('[[ dato.final_efectivo ]]', final_efectivoFiltrado)
                                    .replace('[[ dato.final_rollo ]]', final_rolloFiltrado)
                                    .replace('[[ dato.final_rollo_efectivo ]]', final_rollo_efectivoFiltrado);

                                // Actualiza el span con el texto actualizado
                                document.getElementById(span).innerText = textoActualizado;
                            }
                        }
                        // Actualiza el span con el texto actualizado
                        if (textoActualizado !== undefined) {
                            document.getElementById(span).innerText = textoActualizado;
                        } else {
                            document.getElementById(span).innerText = "";
                        }
                    }
                });
            } else {
                console.log('No se encontró ningún elemento con el ID ' + span);
            };
        }
        
        
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        
        // Función para agregar listeners a los campos de entrada y los spans
        function agregarListeners(idCampo, idSpan) {
            document.getElementById(idCampo).addEventListener('input', function() {
                document.getElementById(idSpan).innerText = this.value;
                actualizarTextoArticulo(idSpan);
            });
            document.getElementById('tamano_' + idCampo).addEventListener('input', function() {
                document.getElementById(idSpan).style.fontSize = this.value + 'px';
            });
        }
        
        // Función para inicializar los spans
        function inicializarSpan(idCampo, idSpan) {
            document.getElementById(idSpan).innerText = document.getElementById(idCampo).value || "";
            document.getElementById(idSpan).style.fontSize = document.getElementById('tamano_' + idCampo).value + 'px';
        }
        
        // Inicializar los spans
        inicializarSpan('descripcion', 'span_descripcion');
        inicializarSpan('texto_final', 'span_texto_final');
        inicializarSpan('final', 'span_final');
        inicializarSpan('texto_final_efectivo', 'span_texto_final_efectivo');
        inicializarSpan('final_efectivo', 'span_final_efectivo');
        
        // Agrega los listeners a los campos de entrada y los spans
        agregarListeners('descripcion', 'span_descripcion');
        agregarListeners('texto_final', 'span_texto_final');
        agregarListeners('final', 'span_final');
        agregarListeners('texto_final_efectivo', 'span_texto_final_efectivo');
        agregarListeners('final_efectivo', 'span_final_efectivo');
        
        document.addEventListener('DOMContentLoaded', function() {
            // Reemplaza 'idSpan' con el ID real del span que quieres actualizar
            actualizarTextoArticulo('span_descripcion');
            actualizarTextoArticulo('span_texto_final');
            actualizarTextoArticulo('span_final');
            actualizarTextoArticulo('span_texto_final_efectivo');
            actualizarTextoArticulo('span_final_efectivo');
        });
        
    </script>
</body>
</html>
