{% extends "pedido/base_pedido.html" %}

{% block encabezado %}
    <title>Detalles del Pedido: {{ pedido }}</title>
    {% load static %}
{% endblock %}

{% block cuerpo %}
    <h2>Pedido: {{ proveedor }}</h2>
    <label>LLegó el pedido??:</label>
    <a class="btn btn-primary" href="{% url 'pedido:controlar-pedido' pedido.id %}">Controlar Pedido</a>
    <a class="btn btn-outline-secondary ms-2" href="{% url 'pedido:pedido-pdf' pedido.id %}">Descargar PDF</a>

    {% include 'pedido/vistas/detalle_pedido/table_content.html' %}
{% endblock %}

{% block script %}{% endblock %}