{% extends "pedido/base_pedido.html" %}

{% block encabezado %}
    <title>Detalles del Pedido: {{ pedido }}</title>
    {% load static %}
{% endblock %}

{% block cuerpo %}
    <h2>Pedido: {{ proveedor }}</h2>
    <label>LLegó el pedido??:</label>
    <button class='btn btn-primary' onclick="controlarPedido()">ControlarPedido</button>

    {% include 'pedido/vistas/detalle_pedido/table_content.html' %}
{% endblock %}

{% block script %}
    <script>
        function controlarPedido(){
            //redirije a la vista de controlar pedido
            window.location.href = "{% url 'pedido:controlar-pedido' pedido.id %}";
        }
    </script>
{% endblock %}