{% extends 'pedido/elementos/elemento_tabla.html'%}
{% load l10n %}
{% block table_head %}
    <tr>
        <th>id</th>
        <th>Proveedor</th>
        <th>Ítem</th>
        <th>Cantidad</th>
        <th>Llegó?</th>
        <th>Devolver?</th>
    </tr>
{% endblock %}

{% block table_body %}
    {% for articulo in Lista_articulos_pedidos %}
        <tr>
            <td>{{ articulo.id }}</td>
            <td>{{ articulo.proveedor }}</td>
            <td>{{ articulo.item }}</td>
            <td>
                <input 
                    type="number" 
                    class="form-control form-control-sm quantity-input w-auto d-inline-block" 
                    data-id="llego-{{ articulo.id }}" 
                    value="{{ articulo.cantidad|unlocalize }}" 
                    step="0.01">
            </td>
            <td>
                <input 
                    type="checkbox" checked 
                    id="llego-llego{{ articulo.id }}" 
                    class="form-check-input js-llego" 
                    data-articulo-id="{{ articulo.id }}"
                    data-proveedor-id="{{ articulo.proveedor.id }}"
                    data-item-id="{{ articulo.item.id }}"
                >
            </td>
            <td>
                <input 
                    type="checkbox" 
                    id="devolver-devolver{{ articulo.id }}" 
                    class="form-check-input js-devolver" 
                    data-articulo-id="{{ articulo.id }}"
                    data-proveedor-id="{{ articulo.proveedor.id }}"
                    data-item-id="{{ articulo.item.id }}"
                >
            </td>
        </tr>
    {% endfor %}
{% endblock %}