<footer class="bg-light text-center text-lg-start fixed-bottom">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Ferretería Paoli</h5>
          <p>
            Proporcionamos herramientas y materiales de alta calidad para todos tus proyectos de construcción y mejoras para el hogar.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Enlaces útiles</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Política de privacidad</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Términos y condiciones</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Contáctanos</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Contacto</h5>
          <ul class="list-unstyled">
            <li>
              <p><i class="fas fa-home mr-3"></i> Calle 57 nº811 e/ 11 y 12, La Plata</p>
            </li>
            <li>
              <p><i class="fas fa-envelope mr-3"></i> pyfpaoli@yahoo.com.ar</p>
            </li>
            <li>
              <p><i class="fas fa-phone mr-3"></i> + 54 9 221 314 3160</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Desarrollado por:
      <a class="text-dark" href="#!">DarkyDieL</a>
    </div>

</footer>
