<!-- imprimir_carteles_x6.html -->
<div class="row row-cols-1 row-cols-md-2 g-0" style="width: 210mm">
    {% for dato in datos %}
        {% if dato.final_efectivo > 0 %}
        <div class="col" style="width: 105mm">
            <div class="card text-center col-md-12" style="width: 105mm; height: 99mm">
            <div class="card-body">
                <div class="center h-25" style="height: 45mm; padding-top: 35px;">
                <h5 class="card-title" >{{ dato.descripcion }}}</h5>
                </div>
                <div class="center h-30" style="height: 45mm; padding-top: 35px;">
                    <h1 class="col">
                        {% load custom_filters %}{{ dato.final_efectivo|custom_price }}
                    </h1>
                    <cite title="Efectivo">Precio en efectivo</cite>
                </div>
                <div class="row-cols-2 ">
                    <div class="col-md-6" style="height: 25mm; padding-top: 25px;">
                        <h6>
                            {% load custom_filters %}{{ dato.final|custom_price  }}
                        </h6>
                        <cite title="Lista">Precio de lista</cite>
                    </div>
                    {% if dato.final_rollo > 0 %}
                        <div class="col-md-6" style="height: 20mm;">
                            <h6>
                                {% load custom_filters %}{{ dato.final_rollo|custom_price  }}
                            </h6>
                            <cite title="Efectivo">Precio en </cite>
                        </div>
                    {% endif %}
                </div>
            </div>
            </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

