{% load custom_filters %}
<!-- planilla_tabla.html -->
<div class="overflow-auto h-100">
<table class="table table-striped w-auto">
    <thead class="bg-secondary text-white sticky-top">
        <tr>
            {% for titulo in titulos %}
            {% if titulo != 'actualizado'%}
                <th>{{ titulo }}</th>
            {% endif %}
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for dato in datos %}
            <tr>
            {% for clave, valor in dato.items %}
                {% with dato.codigo|en_lista as valor_en_lista %}
                    <td class="{{ dato.actualizado|yesno:',text-danger' }}">
                        {% if clave != 'actualizado' %}

                            {% if valor_en_lista %}

                                {% if clave == 'final' or clave == 'final_efectivo' or clave == 'final_rollo' or clave == 'final_rollo_efectivo' %}
                                    {% with valor|to_float as valor_float %}
                                        {{ valor_float }}
                                    {% endwith %}
                                {% else %}
                                    {{ valor }}
                                {% endif %}

                            {% else %}

                                {{ valor }}

                            {% endif %}

                        {% endif %}
                    </td>

                {% endwith %}

            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>

</table>
