<!-- tabla_mp.html -->
<div class="row">
    <div class="col-md-6">
        <!-- Aquí va la tabla -->
        <div class="overflow-auto h-100">
            <table class="table table-striped w-auto">
                <thead class="bg-secondary text-white sticky-top">
                    <tr>
                        <th>Identificador</th>
                        <th>Fecha {{ today }}</th>
                        <th>Monto</th>
                        <th>Estado</th>
                    </tr>
                </thead>

                <tbody>
                    {% for payment in tabla_mp %}
                    <tr>
                    <td {% if payment.estado == 'cancelled' %}style="color: red;"{% endif %}>
                        {% if payment.id == 756176697 %}
                            RETIRO:
                        {% else %}
                            {{ payment.id }}
                        {% endif %}
                    </td>
                    <td {% if payment.estado == 'cancelled' %}style="color: red;"{% endif %}>
                        {{ payment.hora }}
                    </td>
                    <td {% if payment.estado == 'cancelled' %}style="color: red;"{% endif %}>
                        {% if payment.id == 756176697 %}-
                        {% endif %}${{ payment.total_pagado }}
                    </td>
                    <td {% if payment.estado == 'cancelled' %}style="color: red;"{% endif %}>
                        {{ payment.estado }}
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>