<!-- tabla_lateral_carritos.html -->

<style>
    @media (max-width: 768px) {
        #tablaCarrito {
            width: 95% !important;
        }
    }
</style>

<div id="tablaCarrito" class="position-fixed top-0 end-0 bg-secondary" style="width: 50%; height: 100%; overflow: auto; display: none;">
    
<div class="p-3">
    <div class='row'>
        <button id="cerrarCarrito" class="btn btn-secondary">Cerrar</button>
    </div>
</div>


<div class="p-3">
    <div class="card">
        <!-- Aqui un form -->
        <form id="formTransaccion" method="post">
            <input type="hidden" id="usuario" name="usuario" value="">
            <input type="hidden" id="carrito_id" name="carrito_id" value="">
            <input type="hidden" id="articulos_vendidos" name="articulos_vendidos" value="">
            <select id="cliente_id" name="cliente_id" required>
                <option value="">-------</option>
            </select>
            <input type="text" id="buscar_cliente" placeholder="Buscar cliente">
            <select id="metodo_de_pago" name="metodo_de_pago"></select>
            <input type="hidden" id="total" name="total" value="">
            <button id="enviar-transaccion"  type="submit" class="btn btn-primary">Cerrar Transacción</button>
            <button type="button" class="btn btn-secondary" id="nuevoCliente"> + Cliente</button>
            <!--

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNuevoCliente">Nuevo Cliente</button>
            -->
        </form>
    </div>
</div>

<div class="modal fade" id="modalNuevoCliente" tabindex="-1" role="dialog" aria-labelledby="modalNuevoClienteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNuevoClienteLabel">Nuevo Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="formNuevoCliente" method="post">
            <!-- Aquí van los campos del formulario para agregar un nuevo cliente -->
            <input type="text" id="razon_social" name="razon_social" placeholder="Razón Social">
            <input type="text" id="cuit_dni" name="cuit_dni" placeholder="CUIT/DNI">
            <!-- Agrega los demás campos según tu modelo de Cliente -->
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  

<div class="p-3">
    <div class="card">
        <form id="formArticuloSinRegistro" method="post">
            <div class= "row p-0 m-0">
                <input type="text" id="descripcion" name="descripcion" placeholder="Descripción" value="Generico" required>
            </div>
            <div class= "colum p-0 m-0">
                <input type="number" id="cantidad" name="cantidad" placeholder="Cantidad" value="1" required>
                <input type="number" id="precio" name="precio" placeholder="Precio" value="" required>
                <button type="submit" class="btn btn-primary">Agregar Artículo</button>
            </div>
        </form>
    </div>
</div>

<div class="p-3">
    <div class="card">
        <table id="tabla-articulos" class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se llenará la tabla con los datos del carrito -->
            </tbody>
        </table>
    </div>
</div>

</div>
<script>
    document.getElementById('enviar-transaccion').addEventListener('click', function(event) {
      const tablaArticulos = document.getElementById('tabla-articulos');
      console.log(tablaArticulos.rows.length)
      if (tablaArticulos.rows.length < 4 ) {
        event.preventDefault(); // Evita que se envíe el formulario
        alert('No hay artículos en el carrito. Agrega al menos uno antes de enviar la transacción.');
      }
    });

    document.getElementById('nuevoCliente').onclick = function () {
        window.location.href = "/facturacion/clientes/";
    };
    $(document).ready(function(){
        // Al inicio, hacemos una solicitud AJAX para obtener los clientes
        $.ajax({
            url: '/obtener_cliente/',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                var select = $("#cliente_id");
                data.clientes.forEach(function(cliente) {
                    select.append('<option value="' + cliente.id + '">' + cliente.razon_social + ' (' + cliente.cuit_dni + ')' + '</option>');
                });
            }
        });
    
        // Bloqueamos el campo de búsqueda y el selector de clientes desde el inicio
        $("#buscar_cliente").prop("disabled", true);
        $("#cliente_id").prop("disabled", true);
    
        // Agregamos un controlador de eventos para el campo de búsqueda
        $("#buscar_cliente").on('input', function() {
            var buscar = $(this).val().toLowerCase();
            $("#cliente_id option").each(function() {
                var texto = $(this).text().toLowerCase();
                $(this).toggle(texto.indexOf(buscar) > -1);
            });
        });
    
        // Agregamos un controlador de eventos para el campo de selección de método de pago
        $("#metodo_de_pago").change(function() {
            var metodoDePagoSeleccionado = $(this).val();
            if (metodoDePagoSeleccionado === '1') {
                // Si el método de pago es "Efectivo S/Ticket", deshabilitamos el campo de búsqueda de clientes
                // y el selector de clientes, y restablecemos el campo de selección de clientes
                $("#buscar_cliente").prop("disabled", true);
                $("#cliente_id").prop("disabled", true);
                $("#cliente_id").val("");
            } else {
                // Si el método de pago es diferente, habilitamos el campo de búsqueda de clientes y el selector de clientes
                $("#buscar_cliente").prop("disabled", false);
                $("#cliente_id").prop("disabled", false);
            }
        });
        
        

        function mostrarCarrito(nombre) {
            if ($("#tablaCarrito").is(":visible")) {
                // Si la tabla ya está visible, solo la actualizamos si es necesario
                if ($("#tablaCarrito").data("nombre") !== nombre) {
                    llenarCarrito(nombre);
                }
            } else {
                // Si la tabla no está visible, la mostramos y la llenamos
                $("#tablaCarrito").show();
                llenarCarrito(nombre);
            }
        }

        function llenarCarrito(nombre) {
            $.ajax({
                url: '/consultar_carrito/',
                type: 'get',
                dataType: 'json',
                success: function(data) {
                    var tbody = $("#tablaCarrito table tbody");
                    tbody.empty();  // Limpiar el tbody antes de llenarlo
                    data[nombre].articulos.forEach(function(item) {
                        tbody.append('<tr><td>' + item.item + '</td><td><input type="number" class="cantidad-articulo" data-id="' + item.id + '" data-tipo="registrado" value="' + item.cantidad + '" style="width: 50px;"></td><td>' + item.precio + '</td><td><button class="btn btn-danger eliminar-articulo" data-id="' + item.id + '" data-tipo="registrado">X</button></td></tr>');
                    });
                    data[nombre].articulos_sin_registro.forEach(function(item) {
                        tbody.append('<tr><td>' + item.descripcion + '</td><td><input type="number" class="cantidad-articulo" data-id="' + item.id + '" data-tipo="no-registrado" value="' + item.cantidad + '" style="width: 50px;"></td><td>' + item.precio + '</td><td><button class="btn btn-danger eliminar-articulo" data-id="' + item.id + '" data-tipo="no-registrado">X</button></td></tr>');
                    });
                    
                    
                    // Añadir el total al final
                    tbody.append('<tr><td>Total</td><td></td><td>' + data[nombre].total + '</td></td><td></tr>');
                    tbody.append('<tr><td>Total Efectivo</td><td></td><td>' + data[nombre].total_efectivo + '</td></td><td></tr>');
                    // Guardamos el nombre del carrito que estamos mostrando
                    $("#tablaCarrito").data("nombre", nombre);
                    // Guardamos el ID del carrito en el campo oculto
                    $("#carrito_id").val(data[nombre].carrito_id);
                    // Restablecemos el campo de selección del cliente a su valor por defecto
                    $("#cliente_id").val("");
                    // Llenar el elemento de selección con las opciones de pago
                    $.ajax({
                        url: '/obtener_metodos_pago/',
                        type: 'get',
                        dataType: 'json',
                        success: function(metodos_pago) {
                            var select = $("#metodo_de_pago");
                            select.empty();  // Limpiar el elemento de selección antes de llenarlo
                            metodos_pago.forEach(function(metodo_pago) {
                                select.append('<option value="' + metodo_pago.id + '">' + metodo_pago.display + '</option>');
                            });
                        }
                    });
                }
            });
        }
        
        $(document).on('change', '.cantidad-articulo', function() {
            var id = $(this).attr('data-id');
            var tipo = $(this).attr('data-tipo');
            var cantidad = $(this).val();
            var url = tipo === 'registrado' ? '/actualizar_cantidad_articulo/' : '/actualizar_cantidad_articulo_sin_registro/';
            $.ajax({
                url: url,
                type: 'post',
                data: JSON.stringify({
                    'id': id,
                    'cantidad': cantidad
                }),
                contentType: "application/json",
                success: function(data) {
                    // Actualizar el carrito después de cambiar la cantidad
                    llenarCarrito($("#tablaCarrito").data("nombre"));
                }
            });
        });
        

        $(document).on('click', '.eliminar-articulo', function() {
            var id = $(this).attr('data-id');  // Agrega esta línea
            var tipo = $(this).attr('data-tipo');
            var url = tipo === 'registrado' ? '/eliminar_articulo/' : '/eliminar_articulo_sin_registro/';
            $.ajax({
                url: url,
                type: 'post',
                data: JSON.stringify({
                    'id': id  // Y cambia esta línea
                }),
                contentType: "application/json",
                success: function(data) {
                    // Actualizar el carrito después de eliminar el artículo
                    llenarCarrito($("#tablaCarrito").data("nombre"));
                }
            });
        });
        
        
        
        
        
        function crearControlador(nombre) {
            return function() {
                mostrarCarrito(nombre);
            };
        }

        $(document).ready(function(){
            // Al inicio, hacemos una solicitud AJAX para determinar cuántos carritos hay
            $.ajax({
                url: '/consultar_carrito/',
                type: 'get',
                dataType: 'json',
                success: function(data) {
                    // Añadimos un botón para cada carrito
                    for (var nombre in data) {
                        $("#botonesCarrito").append('<button id="botonCarrito' + nombre + '" class="btn btn-primary">Mostrar Carrito de ' + nombre + '</button>');
                        $("#botonCarrito" + nombre).click(crearControlador(nombre));
                    }
                }
            });

            // Agregamos un controlador de eventos para el botón de cerrar
            $("#cerrarCarrito").click(function() {
                $("#tablaCarrito").hide();
            });
        });

        $("#formTransaccion").submit(function(e) {
            e.preventDefault();  // Evitar que el formulario se envíe de la forma predeterminada
            var nombre = $("#tablaCarrito").data("nombre");
            
            $.ajax({
                url: '/consultar_carrito/',
                type: 'get',
                dataType: 'json',
                success: function(data) {
                    $("#usuario").val(nombre);
                    $("#carrito_id").val(data[nombre].carrito_id);
                    $("#articulos_vendidos").val(JSON.stringify(data[nombre].articulos));
                    $("#metodo_de_pago").val(/* Aquí debes obtener el método de pago seleccionado por el usuario */);
                    $("#cliente_id").val();
                    $("#total").val(data[nombre].total);
                    $("#total_efectivo").val(data[nombre].total_efectivo);

                    console.log(data[nombre].total);
                    console.log(data[nombre].total_efectivo);
                    console.log($("#formTransaccion").serialize());
                    // Aquí enviamos los datos del formulario a tu servidor
                    $.ajax({
                        url: '/procesar_transaccion/',
                        type: 'post',
                        data: $("#formTransaccion").serialize(),
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                            $("#formTransaccion :input").prop("disabled", true);
                            // bloquear
                        },
                        success: function(response) {
                            // Aquí puedes manejar la respuesta de tu servidor
                            // cerrar y limpiar
                            // Limpiar el formulario
                            $("#formTransaccion").trigger("reset");
                            $("#formArticuloSinRegistro").trigger("reset");
                            
                            // Limpiar la tabla
                            $("table tbody").empty();

                            // Desbloquear el formulario
                            $("#formTransaccion :input").prop("disabled", false);

                            // Reiniciar los campos de búsqueda y selección
                            $("#buscar_cliente").prop("disabled", true);
                            $("#cliente_id").prop("disabled", true);
                            $("#cliente_id").val("");
                        }
                    });
                }
            });
        });

        $("#formArticuloSinRegistro").on("submit", function(e) {
            console.log('submit sin regitros...')
            e.preventDefault();
            var descripcion = $("#descripcion").val();
            var cantidad = $("#cantidad").val();
            var precio = $("#precio").val();
            var carrito_id = $("#carrito_id").val();
            console.log('variables seteadas...')
            $.ajax({
                url: '/agregar_articulo_sin_registro/',
                type: 'post',
                data: JSON.stringify({
                    'descripcion': descripcion,
                    'cantidad': cantidad,
                    'precio': precio,
                    'carrito_id': carrito_id
                }),
                contentType: "application/json",
                success: function(data) {
                    // Actualizar el carrito después de agregar el artículo
                    console.log('datos a /agregar_articulo_sin_registro/')
                    console.log(data)
                    llenarCarrito($("#tablaCarrito").data("nombre"));
                    console.log('tabla rellenada...')
                    $("#formArticuloSinRegistro").trigger("reset");
                }
            });
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    
    });
    
</script>
