<!-- tabla_mp.html -->
<div class="row">
    <div class="col-md-6">
        <!-- Aquí va la tabla -->
        <div class="overflow-auto h-100">
            <table class="table table-striped w-auto">
                <thead class="bg-secondary text-white sticky-top">
                    <tr>
                        <th>Planilla de Pedidos</th>
                    </tr>
                </thead>

                <tbody>
                    {% for pedido in tabla_link_pedidos %}
                    <tr>
                        <td>
                            <a href="{{ pedido.url }}" target="_blank">
                                {{ pedido.nombre }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>