{% load custom_filters %}
<!-- tabla_registros.html -->
<div class="overflow-auto h-100">
    <table class="table table-striped w-auto">
        <thead class="bg-secondary text-white sticky-top">
            <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Ver en Drive</th>
                <th>Descargar</th>
            </tr>
        </thead>
        <tbody>
        {% for sp in datos %}
            <tr>
                <td>{{ sp.fecha }}</td>
                <td>{{ sp.nombre}}</td>
                <td><a href="/{{ sp.link }}">VER en DRIVE</a></td>
                <td><a href="/{{ sp.link_descarga }}">DESCARGAR</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>