<!-- tabla_buscador.html -->
<div class="overflow-auto h-100">
    <table class="table table-striped w-100">
        <thead class="bg-secondary text-white sticky-top">
            <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
            </tr>
        </thead>

    <tbody>
        {% for dato in datos %}
            <tr class="card-row" tabindex="0" data-id="{{ dato.id }}" data-codigo="{{ dato.codigo }}" data-descripcion="{{ dato.descripcion }}" data-final-rollo="{{ dato.final_rollo }}" data-final="{{ dato.final }}" data-final-efectivo="{{ dato.final_efectivo }}" data-final-rollo-efectivo="{{ dato.final_rollo_efectivo }}">
                <td><h6>{{ dato.codigo }}</h6></td>
                <td><h6>{{ dato.descripcion }}</h6></td>
                <td>
                    <button class="btn btn-success ver" id="ver-{{ dato.id }}" display="inline-block">Ver</button>
                    <button class="btn btn-success agregar" id="agregar-{{ dato.id }}" style="display: none;">Al carrito</button>
                    <button class="btn btn-primary editar" id="editar-{{ dato.id }}"display="inline-block">Editar</button>
                    {% if dato.tiene_cartel %}
                        <button class="btn btn-success" id="cartel-{{ dato.id }}" onclick="location.href='/x_cartel/imprimir/{{ dato.id }}';">Cartel</button>
                    {% else %}
                        <button class="btn btn-success" id="cartel-{{ dato.id }}" onclick="location.href='/x_cartel/imprimir/{{ dato.id }}';" style="display: none;">Cartel</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div id="miModal" class="modal">
    <div class="modal-content">
        <span class="close_mimodal">×</span>
        <form id="miFormulario">
            {% csrf_token %}
            <input type="hidden" id="id_articulo" name="id_articulo">

            <label for="cantidad">Cantidad:</label><br>
            <input type="number" id="cantidad" name="cantidad"><br>

            <label for="barras">Barras:</label><br>
            <input type="number" id="barras" name="barras"><br>

            <label for="cajon">Cajón:</label><br>
            <select id="cajon" name="cajon">
                <option value="">Ninguno</option>
            </select><br>


            <label for="tiene_cartel">Tiene cartel:</label><br>
            <input type="checkbox" id="tiene_cartel" name="tiene_cartel"><br>

            <input type="submit" value="Enviar">
          </form>
    </div>
</div>

<div id="ModalCarrito" class="modal">
    <div class="modal-content">
        <span class="close">×</span>
        <form id="miFormularioCarrito">
            {% csrf_token %}
            <input type="hidden" id="id_articulo" name="id_articulo">
            <label for="cantidad">Cantidad:</label><br>
            <input type="number" id="cantidad_agregar" name="cantidad_agregar" step="0.01" value="1"><br>
            <input type="submit" value="Enviar">
          </form>
    </div>
</div>
<script>
    
</script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3"></script>
<script>
    let csrftoken = Cookies.get('csrftoken');
    window.addEventListener('load', () => {

        var usuarioActual = document.body.getAttribute('data-usuario');
        var esDarkydiel = (usuarioActual == 'darkydiel');


        document.querySelectorAll('.agregar').forEach(boton => {
            boton.addEventListener('click', event => {
                // Prevenir la acción por defecto del botón
                event.preventDefault();
        
                // Obtener el id del dato
                const id = boton.id.split('-')[1];
        
                // Llenar el formulario en el modal con el id del artículo
                document.getElementById('id_articulo').value = id;
        
                // Si el usuario es 'darkydiel', agrega botones de opción para los usuarios "caja".
                if (esDarkydiel) {
                    fetch('/usuarios_caja/')
                        .then(response => response.json())
                        .then(usuarios_caja => {
                            var formulario = document.getElementById('miFormularioCarrito');
        
                            // Elimina los botones de opción existentes.
                            var existingOptions = formulario.querySelectorAll('input[type="radio"]');
                            existingOptions.forEach(option => option.parentElement.remove());
        
                            // Agrega nuevos botones de opción.
                            usuarios_caja.forEach(usuario => {
                                var label = document.createElement('label');
                                label.textContent = usuario.nombre;  // Asegúrate de que 'nombre' es la propiedad correcta para el nombre del usuario.
                                var radio = document.createElement('input');
                                radio.type = 'radio';
                                radio.name = 'usuario_caja';
                                radio.value = usuario.id;  // Asegúrate de que 'id' es la propiedad correcta para el ID del usuario.
                                label.appendChild(radio);
                                formulario.appendChild(label);
                            });
                        });
                }
        
                // Mostrar el modal
                document.getElementById('ModalCarrito').style.display = 'block';
            });
        });


        // Obtén el elemento con la clase 'close'
        var close = document.querySelector('.close_mimodal');

        // Añade un controlador de eventos de clic
        close.addEventListener('click', function() {
            // Oculta el modal
            document.getElementById('miModal').style.display = 'none';
        });


        document.querySelectorAll('.ver').forEach(boton => {
            boton.addEventListener('click', event => {
                // Prevenir la acción por defecto del botón
                event.preventDefault();
    
                // Obtener la fila que contiene el botón
                const row = boton.parentNode.parentNode;

                const codigo = row.dataset.codigo;
                const finalRollo = row.dataset.finalRollo;
                const final = row.dataset.final;
                const finalEfectivo = row.dataset.finalEfectivo;
                const finalRolloEfectivo = row.dataset.finalRolloEfectivo;

                


                // Verificar si la fila ya tiene la clase "info-shown"
                if (!row.classList.contains('info-shown')) {
                    // Crear un nuevo elemento tr para mostrar la información adicional
                    const infoRow = document.createElement('tr');
                    infoRow.innerHTML = `
                        <td colspan="3">
                            <div class="row">
                                <div class="contenedor">
                                    <div class="precio">
                                        <div><h5>Publico</h5></div>
                                        <div>${final}</div>
                                    </div>
                                    <div class="precio">
                                        <div><h5>Efectivo</h5></div>
                                        <div>${finalEfectivo}</div>
                                    </div>
                                </div>
                                <div class="contenedor">
                                    <div class="precio">
                                        <div><h5>Rollo/Caja</h5></div>
                                        <div>${finalRollo}</div>
                                    </div>
                                    <div class="precio">
                                        <div><h5>Rollo/Caja Efectivo</h5></div>
                                        <div>${finalRolloEfectivo}</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                `;

                    // Insertar el nuevo elemento tr después de la fila actual
                    row.parentNode.insertBefore(infoRow, row.nextSibling);

                    // Agregar la clase "info-shown" a la fila para indicar que ya se ha mostrado la información adicional
                    row.classList.add('info-shown');
                }

                // Ocultar el botón de "Ver"
                boton.style.display = 'none';

                // Mostrar el botón de "Agregar al carrito"
                const id = boton.id.split('-')[1];
                document.getElementById('agregar-' + id).style.display = 'inline-block';
                console.log('agregar-' + id)
            });
        });



        document.querySelectorAll('.editar').forEach(boton => {
            boton.addEventListener('click', event => {
                // Prevenir la acción por defecto del botón
                event.preventDefault();
    
                // Obtener el id del dato
                const id = boton.id.split('-')[1];
    
                // Hacer una solicitud GET a la vista para obtener los datos actuales del artículo
                fetch('/editar_item/' + id)
                    .then(response => response.json())
                    .then(data => {
                        // Convertir la cadena de texto en un array de objetos
                        var cajones = JSON.parse(data.cajones);

                        // Llenar el formulario en el modal con los datos actuales del artículo
                        document.getElementById('id_articulo').value = id;
                        document.getElementById('cantidad').value = data.modal_cantidad;
                        document.getElementById('barras').value = data.modal_barras;
                        
                        document.getElementById('tiene_cartel').checked = data.modal_tiene_cartel;

                        // Llenar el selector con los valores de cajon
                        document.getElementById('cajon').innerHTML = cajones.map(c => `<option value="${c.pk}"${data.modal_cajon && c.pk === data.modal_cajon.id ? ' selected' : ''}>${c.fields.codigo}</option>`).join('');
                        // Mostrar el modal
                        document.getElementById('miModal').style.display = 'block';
                    });
            });
        });
    
        // Cuando el usuario hace clic en el botón de cierre del modal, cierra el modal
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            document.getElementById('miModal').style.display = "none";  // Oculta el modal
        }
    
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // Cuando el usuario envía el formulario, envía los datos al endpoint
        var formulario = document.getElementById('miFormulario');
        formulario.addEventListener('submit', function(event) {
            event.preventDefault();
            var id_articulo = document.getElementById('id_articulo').value;
            var cantidad = document.getElementById('cantidad').value;
            var barras = document.getElementById('barras').value;
            var tiene_cartel = document.getElementById('tiene_cartel').checked;
            var cajon = document.getElementById('cajon').value;
            fetch('/editar_item/'+ id_articulo + '/', {
                method: 'POST',
                body: JSON.stringify({id_articulo: id_articulo, cantidad: cantidad, barras: barras, tiene_cartel: tiene_cartel, cajon: cajon}),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            })
            .catch(error => console.error('Error:', error))
            .finally(() => {
                document.getElementById('miModal').style.display = "none";  // Oculta el modal
                // Muestra u oculta el botón de cartel según el valor de tiene_cartel
                document.getElementById('cartel-' + id_articulo).style.display = tiene_cartel ? 'block' : 'none';
            });
        });
        
        
        
        
        // Cuando el usuario hace clic en el botón de cierre del modal, cierra el modal
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            document.getElementById('ModalCarrito').style.display = "none";  // Oculta el modal
        }
        
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // Cuando el usuario envía el formulario, envía los datos al endpoint
        var formulario = document.getElementById('miFormularioCarrito');
        formulario.addEventListener('submit', function(event) {
            event.preventDefault();
            var id_articulo = document.getElementById('id_articulo').value;
            var cantidad = document.getElementById('cantidad_agregar').value;
            var usuario_caja = esDarkydiel ? Number(document.querySelector('input[name="usuario_caja"]:checked').value) + 1 : null;
            console.log(usuario_caja)
            fetch('/agregar_articulo_a_carrito/'+ id_articulo + '/', {
                method: 'POST',
                body: JSON.stringify({id_articulo: id_articulo, cantidad: cantidad, usuario_caja: usuario_caja}),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            })
            .catch(error => console.error('Error:', error))
            .finally(() => {
                document.getElementById('ModalCarrito').style.display = "none";  // Oculta el modal
            });
        });
        
        
    });
    
    
</script>