<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block encabezado %}
    {% endblock %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'pedido/css/pedido.css' %}" rel="stylesheet">
    <title>{% block title %}  {% endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <link rel="shortcut icon" type="image/png" href="/media/imagenes/favicon.ico"/>
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet" />
    
    {% include 'pedido/nav_bar.html' %}

</head>
<body>
    <script src="{% static 'cookies/js-cookies3.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'quagga/quagga.js' %}"></script>
    
    {% block cuerpo %}
    {% endblock %}

    <script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
    {% block script %}
    {% endblock %}
    

</body>

</html>

