<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block encabezado %}
    {% endblock %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <title>{% block title %}  {% endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <link rel="shortcut icon" type="image/png" href="/media/imagenes/favicon.ico"/>
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="/media/imagenes/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    
    <style>
        #id_item {
            width: 100%
        }
    </style>
    {% include 'pedido/nav_bar.html' %}

</head>
<body>
    <script src="{% static 'cookies/js-cookies3.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'quagga/quagga.js' %}"></script>
    
    {% block cuerpo %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    {% block script %}
    {% endblock %}
    

</body>

</html>

