{% extends "pedido/base_pedido.html" %}

{% block encabezado %}
    <title>Controlar Pedido</title>
    {% load static %}
{% endblock %}

{% block cuerpo %}
{% load crispy_forms_tags %}
<form method="post" action="{% url 'pedido:editar-pedido' pedido.id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="url_destino" value="controlar_pedido">
    <button type="submit" class="btn btn-primary">Agregar al pedido</button>
</form>

{% csrf_token %}
<h2>Pedido: {{ proveedor }}</h2>
<button onclick="pedidoControlado({{ pedido.id }})">Pedido Controlado</button>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Proveedor</th>
            <th>Ítem</th>
            <th>Cantidad</th>
            <th>Llegó?</th>
            <th>Devolver?</th>
        </tr>
    </thead>
    <tbody>
        {% for articulo in Lista_articulos_pedidos %}
            <tr>
                <td>{{ articulo.id }}</td>
                <td>{{ articulo.proveedor }}</td>
                <td>{{ articulo.item }}</td>
                <td>
                    <input 
                        type="number" 
                        class="quantity-input" 
                        data-id="llego-{{ articulo.id }}" 
                        value="{{ articulo.cantidad }}" 
                        step="0.01">
                </td>
                <td>
                    <input 
                        type="checkbox" {% if articulo.llego %}checked{% endif %} 
                        id="llego-llego{{ articulo.id }}" 
                        onclick="agregarAlStock({{ articulo.id}},{{articulo.proveedor.id}},{{ articulo.item.id }})"
                    >
                </td>
                <td>
                    <input 
                        type="checkbox" 
                        id="devolver-devolver{{ articulo.id }}" 
                        onclick="agregarDevolucion({{ articulo.id}},{{articulo.proveedor.id}},{{ articulo.item.id }})"
                    >
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block script %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        var autocompleteUrl = "{% url 'pedido:item-autocomplete' %}";
        var proveedorId = {{ proveedor.id }};
    </script>
    <script src="{% static 'js/pedido/nuevo_stock.js' %}"></script>

    <script>
        function agregarDevolucion(articulo_id, proveedor_id, item_id){
            var devolver = document.getElementById('devolver-devolver' + articulo_id).checked;
            var url = '/pedidos/agregar_devolucion/';
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            var data = {
                'articulo_id': articulo_id,
                'proveedor_id': proveedor_id,
                'item_id': item_id,
                'devolver': devolver,
                'csrfmiddlewaretoken': csrftoken
            };
            console.log(url, csrftoken, data);
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                location.reload();
            });
        }

        function pedidoControlado(pedido_id){
            var url = '/pedidos/marcar_controlado/';
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            var data = {
                'pedido_id': pedido_id,
                'csrfmiddlewaretoken': csrftoken
            };
            console.log(url, csrftoken, data);
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.error){
                    alert(data.error);
                    return;
                }
                if (data.status === 'ok'){
                    window.location.href = "{% url 'pedido:home' %}";
                }
            });
        }

        function agregarAlStock(articulo_id, proveedor_id, item_id){
            var llego = document.getElementById('llego-llego' + articulo_id).checked;
            var cantidad = document.querySelector('.quantity-input[data-id="llego-' + articulo_id + '"]').value;
            var url = '/pedidos/agregar_al_stock/';
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            var data = {
                'articulo_id': articulo_id,
                'proveedor_id': proveedor_id,
                'item_id': item_id,
                'llego': llego,
                'cantidad': cantidad,
                'csrfmiddlewaretoken': csrftoken
            };
            console.log(url, csrftoken, data);
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                location.reload();
            });
        }
    </script>
{% endblock %}