{% extends "pedido/base_pedido.html" %}

{% block encabezado %}
    <title>Detalles del Pedido</title>
    {% load static %}
{% endblock %}

{% block cuerpo %}
{% csrf_token %}
<h2>Pedido: {{ proveedor }}</h2>
<button onclick="controlarPedido({{ pedido.id }})">ControlarPedido</button>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>fecha</th>
            <th>Proveedor</th>
            <th>Ítem</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% for articulo in Lista_articulos_pedidos %}
            <tr>
                <td>{{ articulo.id }}</td>
                <td>{{ articulo.fecha }}</td>
                <td>{{ articulo.proveedor }}</td>
                <td>{{ articulo.item }}</td>
                <td>{{ articulo.cantidad}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
    
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        function controlarPedido(id){
            $.ajax({
                url: '/pedido/controlar_pedido/'+id,
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response){
                    alert(response);
                }
            });
        }
    </script>

{% endblock %}