{% extends "pedido/base_pedido.html" %}

{% block encabezado %}
    <title>Pedidos</title>
    {% load static %}
{% endblock %}

{% block cuerpo %}
    <table>
        <thead>
            <tr>
                <th>Pedido</th>
                <th>Pendiente</th>
                <th>Enviado</th>
                <th>Entregado</th>
                <th>Articulos Faltantes</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor, pedidos in pedidos_activos.items %}
                <tr>
                    <td><a href="{% url 'pedido:nuevo-pedido' proveedor.id %}">{{ proveedor.text_display }}</a></td>
                    <td>
                        {% for pedido in pedidos %}

                            {% if pedido.get_estado_display == 'Pendiente'%}
                                <a href="{% url 'pedido:editar-pedido' pedido.id %}">{{ pedido }}</a><br>
                            {% else %}
                                -
                            {% endif %}
                        {% empty %}
                            -
                        {% endfor %}
                    </td>

                    <td>
                        {% for pedido in pedidos %}

                            {% if pedido.get_estado_display == 'Enviado'%}
                                <a href="{% url 'pedido:editar-pedido' pedido.id %}">{{ pedido }}</a><br>
                            {% else %}
                                    -
                            {% endif %}
                        {% empty %}
                                -
                        {% endfor %}
                    </td>
                    <td>
                        {% for pedido in pedidos %}

                            {% if pedido.get_estado_display == 'Entregado'%}
                                <a href="{% url 'pedido:editar-pedido' pedido.id %}">{{ pedido }}</a><br>
                            {% else %}
                                    -
                            {% endif %}
                        {% empty %}
                            -
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'pedido:listar-faltantes' proveedor.id %}">Ver articulos faltantes</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    
{% endblock %}