{% extends "pedido/base_pedido.html" %}

{% block encabezado %}
    <title>Agregar Articulo Pedido</title>
    {% load static %}
{% endblock %}

{% block cuerpo %}
    <table>
        <thead>
            <tr>
                <th>Proveedor</th>
                <th>Ítem</th>
                <th>Cantidad</th>
                <th>Pedido Realizado</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in lista_pedidos %}
                <tr>
                    <td>{{ pedido.proveedor }}</td>
                    <td>{{ pedido.item }}</td>
                    <td>{{ pedido.cantidad }}</td>
                    <td>{{ pedido.pedido }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        var autocompleteUrl = "{% url 'autocomplete' %}";
    </script>
    <script src="{% static 'js/nuevo_stock.js' %}"></script>
{% endblock %}