{% extends "pedido/base_pedido.html" %}

{% block encabezado %}
    <title>Agregar Articulo Pedido</title>
    {% load static %}
{% endblock %}

{% block cuerpo %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in lista_pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.fecha }}</td>
                    <td>{{ pedido.proveedor }}</td>
                    <td>
                        <a href="{% url 'pedido:editar-pedido' pedido.id %}">{{ pedido.get_estado_display }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    
{% endblock %}