{% extends "pedido/base_pedido.html" %}
{% load bootstrap4 %}

{% block encabezado %}
    <title>Agregar Articulo Pedido</title>
    {% load static %}
{% endblock %}

{% block cuerpo %}
{% load crispy_forms_tags %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Guardar pedido</button>
    </form>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        var autocompleteUrl = "{% url 'pedido:item-autocomplete' %}";
    </script>
    <script src="{% static 'js/nuevo_stock.js' %}"></script>
{% endblock %}

